h1,h6 {
  color: purple;
}
h2 {
  color: blue
}

body {
  background-color: skyblue;
}
h4 {
  color: tan;
}
i {
  color: lemon;
}
ul {
list-style-type: square; 
}
div {
  animation: mymove 5s infinite;
}
div {
  width: 100px;
  height: 100px;
  background: maron;
  position: relative;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}
